.component {
  width: 568px;
  height: 80px;
  /* border: 1px solid #4c4cff; */
  background-color: #131316;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.move {
  z-index: 1;
  padding: 3.5px 5.5px;
  /* border: 1px solid #4c4cff; */
}

.move_none {
  z-index: -1;
}

/* .box {
  display: flex;
  align-items: center;
  background-color: rgb(31, 35, 52);
  width: 536px;
  height: 80px;
  gap: 20px;
  border-radius: 40px;
  border: 1px solid #4c4cff;
}

.img {
  width: 80px;
  height: 40px;
  border: 1px solid #4c4cff;
}

.name {
  display: flex;
  align-items: center;
  width: 254px;
  height: 48px;
  border: 1px solid #4c4cff;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.priceBox {
  display: flex;
  height: 24px;
  align-items: center;
  justify-content: flex-end;
  width: 95px;
  gap: 8px;
  border: 1px solid #4c4cff;
} */
